{{>header}}
<div class="ui container">
	<div class="ui middle aligned center aligned grid">
	  <div class="column">
		<form class="ui large form" method="POST" action="http://127.0.0.1:8081/user/loguser">
		      <div class="ui stacked segment">
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="user icon"></i>
		            <input type="text" name="username" placeholder="Login">
		          </div>
		        </div>
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="lock icon"></i>
		            <input type="password" name="mdp" placeholder="Password">
		          </div>
		        </div>
		       		<input type="submit" class="ui green button" value="Login">
		      </div>
		
		      <div class="ui error message"></div>
		
		 </form>
	  </div>
	</div>	    
   </div>
{{>footer}}
